<h2 class="site-title"><span class="site-title yellow">CRYPTO</span>WALLET</h2>
<div class="welcome-container">
    <img class="coin-illustration" src="/assets/Bitcoin-amico.svg">
    <div class="container-wrapper">
        <h1 class="container-title">Add your <span class="yellow">crypto coins</span> in a wallet</h1>
        <p class="description">Ready to enter the world of crypto banking? CryptoWallet is your gateway to brand new digital currency services to make life easier. 
        You can use CryptoWallet to buy, sell, and trade crypto.</p>
        <%= link_to "Get started", coins_path, { :class => "nav-button"} %>
    </div>
</div>
